@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

* {
    font-family: 'Kanit', sans-serif;
}

body {
    margin: 0 auto;
}

/*Início página "Main"*/
/*Início cabeçalho*/
.cabeca {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #000000, rgb(255, 197, 0));
    height: 130px;
    box-shadow: 10px;
}

#logo {
    padding-left: 10px;
    width: 300px;
    height: 166px;
}

.pg-1 {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    justify-content: flex-start;
    align-items: center;
    background-image: url(fundo-menu.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    padding-left: 200px;
}

.text-intro {
    margin-right: 20px;
    width: 45%;
    width: 45%;
}

.img-intro {
    margin-left: 20px;
    width: 45%;
}

.txt-1 {
    font-size: 61px;
    line-height: 25px;
    color: #333C43;
}

/*Fim página "Main"*/

/*menu*/
.itn-menu {
    display: inline-block;
    margin: 20px;
    color: #000000;
    font-size: 25px;
}

.itn-menu:hover {
    color: white;
}

#login-btn {
    border-left: 1px solid white;
    height: 20px;
}

.itn-menu1 {
    display: inline-block;
    margin: 20px;
    color: #000000;
    font-size: 25px;
    border: 2px solid #000000;
    border-radius: 17px;
    padding: 12px;
}

.itn-menu1:hover {
    background-color: #000000;
    opacity: 0.8;
    color: white;
}


a {
    text-decoration: none;
}

/* fim menu*/

/*Começo avaliações*/
#avl {

    display: flex;
    justify-content: center;
    background-color: black;
}

/*Título H1.*/
.titulo {
    text-align: center;
    color: #faed27;
    padding: 80px;
    font-size: 45px;

}

/*Título H1*/


#sobre {
    display: flex;
    background-image: url(telasobrenos.png);
    text-align: center;
    align-items: center;
    height: 700px;
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sobre-txt {
    line-height: 50px;
    font-size: 40px;
    color: #faed27;
}

/*Centralizando a div*/
.avl-geral {
    flex-direction: row;
    justify-content: center;
    display: flex;
}

/*Centralizando a div principal*/

/*Começo da borda da div-avaliações*/
.avaliações {
    padding: 38px;
    border: 2px solid #c1c1c1;
    border-radius: 16px;
    margin: 1%;
    height: 215px;
    width: 250px;
    flex-direction: row;
}


/*Fim da borda da div-avaliações*/

.av {
    padding: 49px;

}

.usuário {
    width: 20px;
    height: 20px;

}

.avaliações .nome {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


.nome h3 {
    margin: 0;
    color: #faed27;
}

.mensagem-avl {
    background-color: black;
    color: rgb(255, 197, 0);
}

.link-avl {
    color: #c1c1c1;
}

/*Fim avaliações*/



/*Início Conheça-nos*/
.conhecer-grid h2 {
    display: flex;
    justify-content: center;
    color: #c1c1c1;
}

#conhecer {
    border: 1px solid #c1c1c1;
    background-color: rgb(255, 197, 0);

}

.conhecer-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    margin: 50px;
    background-color: rgba(255, 255, 0, 0.697);
    border: 1px solid #faed27;
    box-shadow: 0 0 1em #000000;
    border-radius: 10px;
}

.conhecer-grid {
    display: flex;
    justify-content: space-between;
}

.img-conhecer {
    width: 217px;
    height: 200px;

}

#conhecer h1 {
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 55px;
}

.explicação {
    color: #000000;
    padding: 5px;
}

/*Fim Conheça-no*/



/*Início Cadastro Secundário*/

.banner {
    width: 100%;
}

.botao .submit_btn {
    display: flex;
    justify-content: right;
    font-size: 50px;
    margin-left: 600px;
    font-size: 30px;
    border-radius: 20px;
    padding: 15px 80px;
    background-color: #faed27;

}

.botao .submit_btn:hover {
    background-color: #c1c1c1;
    color: #faed27;
    box-shadow: black;
}

.botao .submit_btn span {
    font-size: 20px;
    cursor: pointer;
}

#cad-txt {
    width: 350px;
    color: #faed27;
}

.cadastro2 {
    display: flex;
    margin-left: 100px;
    font-size: 30px;
    padding: 10px;

}

.cadastro {
    display: flex;
    align-items: center;
    width: 100%;
    height: 900px;
    background-image: url(fundo-2cadastro.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 1700px;
}

/*Fim Cadastro Secundário*/

/*Começo do rodapé geral*/
.rodape {
    left: 0;
    bottom: 0;
    color: #faed27;
    text-align: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ccc;
    padding: 5px 5px;
    display: flex;
    justify-content: space-around;
    border: 0px solid #696969;
}

footer a img {
    width: 40px;
    height: 40px;
    padding: 0px 20px;
}

.rodape-1 {
    border: 0px solid #696969;
    padding: 10px 10px;
}

.rodape-2 {
    border: 0px solid #696969;
    padding: 5px 5px;
}

.rodape-1 a {
    color: #FAED27;
}

.rodape-3 {
    border: 0px solid #696969;
    padding: 30px 30px;
}

.rodape-5 {
    border: 0px solid #696969;
    padding: 30px 30px;
}

footer {
    background-color: #696969;
}

a {
    text-decoration: none;
}

/*Fim do Rodapé*/

/*Inicio da aba suporte*/

#suporte {
    background-image: url(fundo-suporte.png);
    height: 700px;
    padding: 50px;
}

.reclamaçoes {
    width: 400px;
    height: 400px;
    margin-right: 900px;
    margin-top: 80px;
    text-align: center;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    color: white;
}

textarea {
    box-shadow: 0 0 0 0;
    outline: 0;
    color: white;
}

.Suporte {
    display: flex;
    justify-content: flex-end;
}

.reclamaçoes #titulo_suporte {
    color: #FAED27;
    font-size: 45px;
}

/*fim divs*/

/*inicio botões*/
.btn-todos {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 3px solid #c1c1c1;
    background-color: #c1c1c1;
    cursor: pointer;
}

.e-mail {
    width: 350px;
    height: 50px;
    border-radius: 10px;

}

.mensagem {
    width: 350px;
    height: 200px;
    border-radius: 10px;

}

.botão {
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #FAED27;
    color: #414141;
}

.botão:hover {
    color: #FAED27;
    background-color: #696969;
}

/*fim botões*/
/*fim imagem*/

#sobre h1 {
    font-weight: 20pt;
}

::-webkit-scrollbar-track {
    background-color: #faed27;
    border-radius: 30px;
}

body::-webkit-scrollbar {
    width: 12px;
    /* largura da scrollbar */
}

body::-webkit-scrollbar-track {
    background: #696969;
    /* cor do fundo da scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: #FAED27;
    /* cor do scroll flutuante */
    border-radius: 20px;
    /* curvatura das pontas da scrollbar */
    border: 3px solid #696969;
    /* borda da scrollbar*/
}