/* Inicio do css footer*/

/*Inicio do rodapé geral*/
.rodape{
    left: 0;
    bottom: 0;
    color: #faed27;
    text-align: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ccc;
    padding: 5px 5px;
    display: flex; 
    justify-content: space-around;
    border: 0px solid #696969;
}
/*Fim do rodapé geral*/


/*Inicio imagens*/
footer a img{
    width: 40px;
    height: 40px;
    padding: 0px 20px;
}
/*Fim imagens*/

/*Inicio borda Para você*/
.rodape-1{
    border: 0px solid #696969;
    padding: 10px 10px;
}
/*Fim borda Para você*/

/*Inicio borda Redes sociais*/
.rodape-2{
    border: 0px solid #696969;
    padding: 5px 5px; 
}
/*Fim borda Redes sociais*/

/*Inicio borda Footer*/
.rodape-3{
    border: 0px solid #696969;
    padding: 30px 30px;
}
/*Fim borda Footer*/

/*Inicio borda frase*/ 
.rodape-5{
    border: 0px solid #696969;
    padding: 30px 30px;
}
/*Fim borda frase*/

/*Inicio cor Footer*/
footer {
    background-color: #696969;
}
/*Fim cor Footer*/

/*Inicio link Redes sociais*/
a{
    text-decoration: none;
}
/*Fim link Redes sociais*/

/*Fim da aba footer*/
  
